<section class="signup__area">
  <div class="card signup-card">
    <div class="row-con g-0">
      <!-- Illustration Image -->
      <div class="left-section col-lg-6 d-none d-lg-block">
        <div class="img-container">
          <img
            src="img/signup.gif"
            alt="Sign-in Illustration"
            class="signin-vector img-fluid"
          />
        </div>
      </div>

      <!-- Form Section -->
      <div class="col-lg-6 mt-4 mb-4">
        <div class="sign__wrapper__container">
          <h3 class="text-center mb-4">
            Register Your <span class="text-primary">Account</span>
          </h3>
          <form [formGroup]="signUpForm" (ngSubmit)="sign_up()">
            <div class="first-last-name-container">
              <!-- First Name -->
              <div class="input-box">
                <span class="details">First Name</span>
                <input
                  formControlName="firstname"
                  class="form-control rounded-pill"
                  type="text"
                  placeholder="First Name"
                  id="firstname"
                  appDisableCopyPaste
                  maxlength="25"
                  inputmode="text"
                  autocomplete="off"
                  appAlphabeticInput
                />
              </div>

              <!-- Last Name -->
              <div class="input-box">
                <span class="details">Last Name</span>
                <input
                  formControlName="lastname"
                  class="form-control rounded-pill"
                  type="text"
                  placeholder="Last Name"
                  id="lastname"
                  appDisableCopyPaste
                  maxlength="25"
                  inputmode="text"
                  autocomplete="off"
                  appAlphabeticInput
                />
              </div>
            </div>

            <!-- Email -->
            <div class="input-box">
              <span class="details">Email Address</span>
              <input
                formControlName="email"
                class="form-control rounded-pill"
                type="email"
                placeholder="Enter Email"
                id="email"
                appDisableCopyPaste
                maxlength="100"
                inputmode="email"
                autocomplete="off"
              />
            </div>

            <!-- Phone Number -->
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input
                formControlName="mobile_no"
                class="form-control rounded-pill"
                type="text"
                placeholder="Phone Number"
                id="mobile_no"
                appMobileNumberValidator
                appDisableCopyPaste
                maxlength="10"
                inputmode="numeric"
                autocomplete="off"
              />
              <div
                *ngIf="
                  signUpForm.get('mobile_no')?.hasError('invalidMobileNumber')
                "
                class="text-danger"
              >
                {{
                  signUpForm.get("mobile_no")?.getError("invalidMobileNumber")
                }}
              </div>
            </div>

            <!-- Terms and Conditions -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="agree"
                id="m-agree"
              />
              <label class="form-check-label page-link" for="m-agree">
                I agree to the
                <a
                  href="https://rucards.in/terms-and-conditions.php"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn-link"
                >
                  Terms & Conditions </a
                >.
              </label>
            </div>
            <!-- Send OTP -->
            <div class="mb-3">
              <button
                class="btn"
                type="button"
                (click)="onSendOtp()"
                [disabled]="!signUpForm.get('mobile_no')?.valid"
                *ngIf="!showOtpField"
              >
                Send OTP
              </button>
            </div>

            <!-- OTP Field -->
            <div class="mb-3" *ngIf="showOtpField">
              <label class="otp" for="otp">Enter OTP</label>
              <input
                formControlName="otp"
                class="form-control rounded-pill"
                type="text"
                placeholder="OTP"
                id="otp"
                maxlength="6"
                autocomplete="off"
                inputmode="numeric"
                appDisableCopyPaste
                appNumberOnly
              />
              <div class="verify-container">
                <button
                  class="btn verify-otp-btn"
                  type="submit"
                  (click)="onVerifyOtp()"
                  *ngIf="!verified"
                  [disabled]="!signUpForm.valid"
                >
                  Verify OTP
                </button>
                <a (click)="onResend()">Resend?</a>
              </div>
            </div>

            <!-- Sign In Link -->
            <div class="text-center">
              <p>
                Already have an account?
                <a [routerLink]="['/sign-in']" class="btn-link">Sign In</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
