// dsdskjagjsahfgdfgdkjsgfhjdfhjdsghjfgsdjhfgjdsfdhsgfhdsgfhjds isme changes krna hai


.signup__area{
   display: flex;
  padding: 10px 5px;

  justify-content: center;
}

.signup-card {
 background: transparent;
  border-radius: 12px;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  background: var(--light-bg);
  box-shadow: 0 15px 35px rgba(35, 150, 189, 0.1);
}

.signup-vector {
  object-fit: cover;
  width: 100%;
  height: 100%;
}



.details{
  color: var(--light-bg);
}


.sign__wrapper {
  background: var(--primary-color);
  color: var(--light-bg);
}

h5{
  color: var(--light-bg);
}

.sign__wrapper h2 {
  font-weight: 700; /* Bold title */
  color: var(--light-bg);
  font-size: 1.8rem; /* Slightly larger title font */
}

label {
  font-weight: 500; /* Medium weight for labels */
  color: var(--light-bg);/* Darker color for labels */
}

.form-control {
  font-size: 1rem; /* Ensure inputs are easy to read */
  background: transparent;
  border: 1px solid var(--tertiary-color);
  border-radius: 8px;
  padding: 14px 18px;

  transition: all 0.3s ease;
  color: var(--light-bg);
}

.form-control::placeholder{
  color: var(--text-light);
}

.form-control:focus {
  background: transparent;
  border-color: #0984e3; /* Highlight color on focus */
  outline: none;
  box-shadow: 0 0 5px rgba(9, 132, 227, 0.5); /* Subtle focus effect */
}
.sign__wrapper__container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-danger{
  margin-top: 10px;
  font-size: 12px;
}

.btn-primary {
  
    background: linear-gradient(180deg, var(--secondary-color), var(--tertiary-color));
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 12px 28px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1.5px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
 transform: translateY(-4px);
 -webkit-transform: translateY(-4px);
 -moz-transform: translateY(-4px);
 -ms-transform: translateY(-4px);
 -o-transform: translateY(-4px);
}

@media (max-width: 768px) {
  .signup-card {
    flex-direction: column;
  }

  .signin-vector {
    display: none;
  }
}

// /* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .signup__area {
    padding: 10px 50px;
  }

}

