
.blog-widget-2 {
  border: 1px solid #ddd;
  /*Addalightborder*/margin-bottom: 1rem;
  transition: transform 0.3s ease;
  /*Forhovereffect*/border-radius:20px ;
  overflow: hidden;
  position: relative;
}
.blog-widget-2:hover {
  transform: translateY(-5px);
  box-shadow: var(--btn-box-shadow);
}
.blog-img {
  overflow: hidden; /* To make image responsive */
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-img img {
  width: auto; /* Allow image to scale down */
  max-height: 100%;
  max-width: 100%;
  display: block; /* Remove extra space below image */

}
.catagory {
  position: absolute;
  top:-80px;
  color: var(--text-color);
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  transition: 0.5s ;
  -webkit-transition: 0.5s ;
  -moz-transition: 0.5s ;
  -ms-transition: 0.5s ;
  -o-transition: 0.5s ;
}
.blog-widget-2:hover .catagory {
 top: 10px;
}
.violet-bg{
  background-color: var(--primary-color); /* A violet background for the catagory tag */
}
.blog-content {
  padding: 1rem;
}
.blog-content h6{
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--primary-color);
}
.blog-content p{
  color: var(--primary-color);
  margin-top: 0.5rem;
}
