<div class="navigation-container">
  <div class="main-navigation">
    <div class="nav-item" *ngFor="let category of category_list">
      <a (click)="router_link(category)" class="nav-link">
        <span class="nav-label">{{ formatName(category) }}</span>
      </a>
    </div>
  </div>
</div>

<div class="hero-section mt-55">
  <div class="left-section-container">
    <div class="search-container">
      <input
        type="text"
        placeholder="Search for games, platforms, or vouchers..."
      />
      <button>Search</button>
    </div>

    
   <div class="head-section-with-imgs">
     <h1>Enjoy Instant Discount On <span style="color: #ff396f;">400+</span> Brands With Gift Cards 
    <span><img src="/img/hero-pr-section/white-arrow.svg" alt=""></span>
    <span class="rupee-coin"><img src="/img/hero-pr-section/rupee-dynamic-color.svg" alt=""></span>
    </h1>
    
   </div>

   <div class="brands-images-section-container">
    <img src="/img/hero-pr-section/amazon.png" alt="">
    <img src="/img/hero-pr-section/x-box.png" alt="">
   </div>


   
  </div>
  <div class="right-section-container">
    <div *ngFor="let brand of ourBrands" class="img-text-container">
      <div class="img-container">

        <img
          src={{brand.img_url}}
          alt={{brand.title}}
        />
      </div>
      <h3>{{brand.title}}</h3>
    </div>
  </div>
</div>
