
<footer class="footer text-light d-print-none">
  <div class="container">
    <div class="footer-content py-5">
      <div class="row">
        <!-- Column 1: Logo & Description -->
        <div class="col-xl-4 col-lg-6 col-12">
          <div class="footer-logo">
            <a href="/">
              <img src="img/rugift.png" class="img-fluid mt-2" style="max-width: 200px;" alt="Rugift Logo">
            </a>
          </div>
          <div class="footer-text my-3">
            <p>Our support and sales team is available 24/7 to answer your queries.</p>
          </div>
          <div class="d-flex gap-3 mt-3 mb-3 app-store-buttons">
            <img src="img/google_play_store.svg" alt="Google Play" class="app-store-icon w-100" style="max-width: 150px;">
            <img src="img/ios_app_store.svg" alt="Apple Store" class="app-store-icon w-100" style="max-width: 150px;">
          </div>

        </div>
        <!-- Column 2: Branches -->
        <div class="col-xl-2 col-lg-3 col-6">
          <h5 class="mb-3 ">Branches</h5>
          <p class=" mb-2">Mumbai</p>
          <p class=" mb-2">Rajasthan</p>
          <p class=" mb-2">Jaipur</p>
          <p class=" mb-2">Lucknow</p>
          <p class=" mb-2">Ahmedabad</p>
          <p class=" mb-2">Delhi</p>
        </div>

        <!-- Column 3: Quick Links -->
        <div class="col-xl-2 col-lg-3 col-6">
          <h5 class="mb-3 ">Quick Links</h5>
          <ul class="footer-links mt-3">
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
            <li><a routerLink="/disclaimer">Disclaimer</a></li>
            <li><a routerLink="/refund-and-cancellations">Refund & Cancellations</a></li>
            <li><a routerLink="/awards">Awards</a></li>
            <li><a routerLink="/news">News</a></li>
          </ul>
        </div>

        <!-- Column 4: Social Media & Certificates -->
        <div class="col-xl-4 col-lg-4 col-12">
          <h5 class="">Social Media</h5>
          <p class="footer-text">Follow us on social media to find out the updates.</p>
          <div class="social-icons mt-4 d-flex justify-content-between">
            <a href="https://www.facebook.com/www.rucards.in" target="_blank" class="logos_img me-3" aria-label="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://instagram.com/rucards.in" target="_blank" class="logos_img me-3" aria-label="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/@rucards4944" target="_blank" class="logos_img me-3" aria-label="YouTube">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://twitter.com/IndiaRucards" target="_blank" class="logos_img me-3" aria-label="Twitter">
              <span>𝕏</span>
            </a>
            <a href="https://www.linkedin.com/company/rucards" target="_blank" aria-label="LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="certificates d-flex justify-content-between mt-4 ">
            <img src="img/iso.jpg" alt="ISO Certificate" class=" logos_img me-3">
            <img src="img/UAF-LOGO.png" alt="UAF Certificate" class=" logos_img me-3">
            <img src="img/IAF-LOGO.png" alt="IAF Certificate"class="logos_img ">
          </div>
        </div>
      </div>
    </div>


    <!-- Copyright Section -->
    <div class="copyright py-4">
      <div class="text-center">
        <p>&copy; {{ currentYear }} RuGift. All Rights Reserved</p>
    </div>
  </div>


  </div>
  <!-- Waves SVG -->
<!--  <div class="waves">-->
<!--    <svg-->
<!--      xmlns="http://www.w3.org/2000/svg"-->
<!--      xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--      viewBox="0 24 150 28"-->
<!--      preserveAspectRatio="none"-->
<!--    >-->
<!--      <defs>-->
<!--        <path-->
<!--          id="gentle-wave"-->
<!--          d="M-160 44c30 0-->
<!--        58-18 88-18s-->
<!--        58 18 88 18-->
<!--        58-18 88-18-->
<!--        58 18 88 18-->
<!--        v44h-352z"-->
<!--        />-->
<!--      </defs>-->
<!--      <g class="waves">-->
<!--        <use-->
<!--          xlink:href="#gentle-wave"-->
<!--          x="50"-->
<!--          y="0"-->
<!--          fill="#03ffff"-->
<!--          fill-opacity=".6"-->
<!--        />-->
<!--        <use-->
<!--          xlink:href="#gentle-wave"-->
<!--          x="50"-->
<!--          y="1"-->
<!--          fill="#03ffff"-->
<!--          fill-opacity=".5"-->
<!--        />-->
<!--        <use-->
<!--          xlink:href="#gentle-wave"-->
<!--          x="50"-->
<!--          y="3"-->
<!--          fill="#03ffff"-->
<!--          fill-opacity=".9"-->
<!--        />-->
<!--      </g>-->
<!--    </svg>-->
<!--  </div>-->
</footer>
