<header class="main-header-area">
  <div class="main-navbar">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="header-left">
            <img
              style="cursor: pointer"
              class="logo"
              src="img/rugift.png"
              alt="Logo"
              routerLink="/"
            />
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="dashboard"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="report/pg-transaction"
                  routerLinkActive="active"
                  >PG Transaction</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="report/vd-transaction"
                  routerLinkActive="active"
                  >VD Transaction</a
                >
              </li>
              <li class="nav-item">
                <div class="site-search">
                  <!-- Search input can be placed here -->
                </div>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <div class="dropdown ms-3 header-item">
                <a
                  class=""
                  id="user-dropdown"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="d-flex align-items-center">
                    <div id="profileImage">
                      <ng-container *ngIf="user; else defaultIcon">
                        <span (click)="handleOverlay($event)" style="cursor: pointer" class="user-initials">{{
                          getUserInitials()
                        }}</span>
                      </ng-container>
                      <ng-template #defaultIcon>
                        <a class="text-white" routerLink="../auth/login"
                          >Login</a
                        >
                      </ng-template>
                    </div>
                  </span>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="user-dropdown"
                >
                  <li *ngIf="user">
                    <span class="dropdown-header">
                      👋🏻
                      <span class="text-primary user-name">{{
                        user.firstname
                      }}</span>
                    </span>
                  </li>
                  <li *ngIf="!user">
                    <a class="dropdown-item" routerLink="/sign-in">
                      <i
                        class="mdi mdi-account-circle text-muted fs-16 align-middle me-2"
                      ></i>
                      <span class="align-middle">Login</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/contact">
                      <i
                        class="mdi mdi-email text-muted fs-16 align-middle me-2"
                      ></i>
                      <span class="align-middle">Contact Us</span>
                    </a>
                  </li>
                  <li *ngIf="user">
                    <a class="dropdown-item" (click)="logout()">
                      <i
                        class="mdi mdi-logout text-muted fs-16 align-middle me-2"
                      ></i>
                      <span class="align-middle">Logout</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<div *ngIf="isOverlayOpen" class="overlay">
    
</div>
