  <!-- Who We Are -->
        <section class="why-choose-area pt-40 pt-lg-70 pb-60 overflow-hidden">
            <div class="container">
                <!-- Top Section with Image and Text Side by Side -->
                <div class="row align-items-center gx-5	">
                    <div class="col-lg-6">
                        <div class="image-box  mt-4 mt-lg-0" >
                            <img src="https://media.istockphoto.com/id/1402604850/photo/the-word-about-us-on-wooden-cubes-business-communication-and-information.jpg?s=1024x1024&w=is&k=20&c=j174vsUa49_4Wpbi3w6lRUSblh5FqgHzI6F3FX7vpYE=" alt="Core Values Image" style="width: 100%; height: auto; aspect-ratio: 426 / 368; object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-box mt-4 mt-lg-0">
                            <h3 style="text-transform: capitalize;font-weight: 800;" class="mb-3  text-center text-lg-start" >Rucards: Bridging the Gap Between Businesses and Consumers</h3>
                            <p style="text-align: justify; "  class="">Rucards, founded in 2021, is a leading provider of prepaid financial solutions, offering products like prepaid cards, gift cards, vouchers, and corporate expense management platforms. Our innovative, customer-centric approach serves individuals and businesses, enabling seamless, secure, and flexible payment solutions.
                                Prepaid cards provide a convenient alternative to traditional banking, catering to personal and corporate needs for spending control and fund management. Gift cards and vouchers, customizable and available across 400+ brands, simplify gifting for personal, employee, or customer rewards.
                                Our Corporate Expense Management solutions streamline operations by automating expense tracking, setting limits, and providing real-time reports, empowering businesses to optimize financial management and control spending with prepaid corporate cards.</p>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <!-- Core Values Section  -->
        <section class="why-choose-area why-choose-area-section pt-30 pb-60 overflow-hidden">
            <div class="container">
                <div class="ab-sec">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="section-title">
                                <h2 class="">Our Core Values</h2>
                            </div>
                        </div>
                    </div>

                    <div class="about-us-card-container-section">
                        <div *ngFor="let aboutUsContent of aboutUsContents" class="about-us-card">
                            <div class="content-box " >
                                <h4 class="mt-30 mb-15">Innovation</h4>
                                <p style="text-align: justify;">We embrace innovation to stay ahead in the dynamic financial services industry. By continually introducing new products and improving existing solutions, Rucards is committed to driving the future of digital payments, gift cards, and expense management systems.</p>

                                <div class="img-con">
                                    <img src="/img/about-us/access.gif" alt="">
                                </div>

                            </div>
                        </div>


                      
                    </div>
                </div>

            </div>
        </section>

        <!-- Core Values Section end -->