<main class="mt-50">
  <!-- Main Content Section -->
  <section class="bg-light py-5">
    <div class="container">
      <div class="description-widget">
        <div class="row">
          <div class="col-md-12">
            <div class="desc-text">
              <h3 class="text-center mb-4 fw-bold">
                Rugift <span class="text-primary">Terms</span> and
                <span class="text-primary">Conditions</span>
              </h3>
              <p class="mt-3 text-justify">
                The following Terms and Conditions (hereinafter referred to as
                "Terms") govern the use of "Rugift" (Prepaid Card), and must be
                agreed upon before its usage. These Terms constitute the full
                agreement between you and "Crescent Business Solutions Pvt.
                Ltd." (CIN: U67190MH2010PTC202209), based in Navi Mumbai -
                400701, concerning the "Rugift" (Prepaid Card), and may be
                updated periodically at the sole discretion of Rugift.<br /><br />

                By signing up to use the “Rugift” (Prepaid Card), you confirm
                that you have read, understood, and agreed to these Terms and
                Conditions. You also agree to be bound by the Terms, as they may
                be amended by Rugift from time to time.<br /><br />

                <b class="d-block mb-2">1. DEFINITIONS</b>
                <br />
                Unless otherwise stated, the following terms have the meanings
                defined below:
                <br /><br />
                (i) inclusion in quotations and/ or parenthesis have the
                meanings so ascribed; and (ii) the following terms shall have
                the meanings assigned to them herein below:<br /><br />

                a) "Account" or "Card Account" refers to the prepaid account
                associated with the card, used to monitor the available
                balance.<br />
                b) "Application Form" refers to the Rugift application submitted
                by the Customer for obtaining the prepaid card, along with any
                supporting information provided.<br />
                c) "Business Day" means any day other than Sundays or public
                holidays, as defined under Section 25 of the Negotiable
                Instruments Act, 1881, when banks are open for business.<br />
                d) "Charges" includes any applicable levies, costs, and fees
                imposed by Rugift for using its services, which may change from
                time to time.<br />
                e) "Cash Limit" refers to the maximum cash withdrawal limit that
                the Customer can access through the Card on any given day or as
                stipulated by Rugift, but never exceeding the balance on the
                Card.<br />
                f) "Customer" or "Holder" refers to any individual, business, or
                entity who obtains or uses the prepaid card for purchasing goods
                and services or for financial services.<br />
                g) "Customer Care Centre" is the helpline provided by Rugift for
                addressing customer queries or complaints related to the product
                or services.<br />
                h) "Card Agreement" refers to the document or agreement signed
                by the Customer for the issuance of Rugift to employees,
                contractors, or others.<br />
                i) "Card" or "Rugift" or "Prepaid Instrument (PPI)" refers to
                the prepaid card or wallet used for transactions, as defined in
                the Master Direction on Prepaid Payment Instruments issued by
                the RBI in December 2017.<br />
                j) "EDC" means the terminal and associated hardware and software
                used for processing card transactions.<br />
                k) "Internet Payment Gateway" refers to the online payment
                system authorized by Rugift for processing payments through the
                internet.<br />
                l) "KYC" refers to the Know Your Customer process for identity
                verification, as required by the Reserve Bank of India (RBI).<br />
                m) "Merchant Establishments" refers to physical stores or
                businesses in India that accept Rugift for payment.<br />
                n) "PIN" refers to the personal identification number provided
                with the Rugift for secure transaction processing.<br />
                o) "Payment Channel" refers to the different modes of
                transactions including EDC terminals, POS, and internet payment
                gateways.<br />
                p) "POS" or "Point of Sale" refers to merchant terminals where
                the Rugift can be used for transactions.<br />
                q) "Program" refers to the specific offerings or services
                related to Rugift.<br />
                r) "Schedule of Fees/Charges" refers to the details of
                applicable fees or charges related to Rugift, which are
                displayed on Rugift's website and may change periodically.<br />
                s) "Statement" refers to the monthly account statement showing
                the transactions and balance on the Rugift.<br />
                t) "Transaction" means any action initiated by the Customer
                using the Rugift at an ATM, merchant, or online, including
                payments for goods or services.<br />
                u) "Transaction Limit" refers to the maximum allowed purchase
                value at merchants or online per day, not exceeding the
                available card balance.<br />
                v) "Website" refers to Rugift's official website, www.Rugift.in,
                or any future amendments to the website.<br />
                w) “RUGIFT” shall mean. a “brand” to a company within the
                meaning of the Companies Act 1956 and a banking within the
                meaning of section 5 (c) of the banking Regulation Act, 1949,
                having its registered office at 306, Sigma IT Park, 3rd Floor,
                Rabale, Navi Mumbai 400 701<br />
                <br /><br />
                <b class="d-block mb-2">2. INTERPRETATIONS</b>

                <br /><br />
                In these Terms and Conditions, unless the contrary intention
                appears:<br /><br />
                a) Any reference to an "amendment" includes a supplement,
                modification, novation, replacement, or re-enactment, and the
                term “amended” should be interpreted accordingly.<br />
                b) The terms “authorization” or “approval” encompass
                authorizations, consents, clearances, approvals, permissions,
                resolutions, licenses, exemptions, filings, and
                registrations.<br />
                c) The term "law" refers to any constitution, statute, law,
                rule, regulation, ordinance, judgment, order, decree,
                authorization, or any published directive, guideline,
                requiremnt, or governmental restriction with the force of law,
                as well as any determination or interpretation of these by a
                judicial authority, whether in effect as of the date of
                signing/submission of the Application Form or later, and each as
                amended over time.<br />
                d) A “Force Majeure Event” refers to any event beyond the
                reasonable control of Rugift, including, but not limited to,
                unavailability of communication systems, breaches or viruses in
                payment or delivery mechanisms, sabotage, fire, flood,
                explosion, natural disasters, civil unrest, strikes or
                industrial actions, riots, insurrections, wars, government
                actions, computer hacking, unauthorized access to computer data
                or storage devices, computer malfunctions, errors, or failures
                in technical systems, power outages, and faults in
                telecommunications.<br />
                e) The singular form includes the plural, and vice versa.<br />
                f) The headings in these Terms and Conditions are included
                solely for ease of reference.<br />
                g) Any reference to the terms “include” or “including” should be
                interpreted as being without limitation.<br />
                h) Any reference to a gender shall be understood to include the
                female, male, and neuter genders.<br />
                i) Any approvals, permissions, consents, or acceptances required
                from Rugift for any matter must be obtained in writing from
                Rugift in advance.<br />
                j) In the case of any disagreement or dispute between Rugift and
                the Customer regarding the significance of any matter, including
                any event, occurrence, circumstance, change, fact, information,
                document, authorization, proceeding, act, omission, claims,
                breach, default, or otherwise, the decision of Rugift regarding
                the materiality of any of the above shall be final and binding
                on the Customer.
                <br /><br />

                <b class="d-block mb-2"
                  >3. APPLICABILITY OF TERMS AND CONDITIONS:</b
                >
                <br /><br />
                a) These Terms and Conditions, together with the General Terms
                and Conditions, constitute the complete agreement between the
                Customer and Rugift for the use of the Rugift.<br />
                b) The issuance of the Rugift is subject to the Customer meeting
                the eligibility criteria set by the company from time to
                time.<br />
                c) The Rugift are non-transferable and cannot be assigned to any
                other individual or party.<br />
                d) The maximum credit limit that can be loaded onto the Rugift
                is capped at INR 200,000 (Rupees Two Lakh Only) for full KYC
                accounts, and INR 10,000 (Rupees Ten Thousand Only) for minimum
                KYC accounts.<br />
                e) The Rugift are only valid for use within the territory of
                India and for transactions in Indian Rupees. They cannot be used
                outside of India or for transactions in foreign currencies.<br />
                f) The Rugift are the sole property of “Crescent Business
                Solutions Pvt Ltd.”<br />
                g) Upon receiving the physical Rugift, the Customer must
                immediately sign on the reverse side. Rugift reserves the right
                to reject or cancel any transaction if the signature is missing
                or mismatched, without prior notice or communication to the
                Customer.<br />
                h) The Rugift can be used at Automated Teller Machines ("ATMs")
                for cash withdrawals by the Customer, within the specified
                credit limit for the Rugift. These are open-loop cards and can
                be used for cash withdrawals at ATMs.<br />
                i) Rugift will not pay any interest on the balance maintained in
                the account at any time.<br />
                j) Rugift will notify the Customer 45 days before the card
                expires via SMS to the registered mobile number. The Customer
                must use the full credit balance available on the Rugift before
                the card expires. If the Customer does not use the balance
                within the validity period, they may contact Rugift to request a
                refund or transfer of the remaining balance to the account
                linked with the card or any other bank account. If the Customer
                does not contact Rugift within the specified period, the
                remaining credit balance on the Rugift will be transferred to a
                fund in accordance with regulatory guidelines.
                <br />
                <br /><br />
                <b class="d-block mb-2"
                  >4. RUGIFT NON-RELOADABLE PREPAID CARD</b
                >
                <br /><br />
                The following terms and conditions govern your use of the RUGIFT
                Non-Reloadable Visa/Rupay Prepaid Card. By purchasing,
                activating, signing, or using the Card, you agree to abide by
                these terms, including the associated fees outlined below.
                <br /><br />
                Card Issuer: The card is issued by Crescent Business Solutions
                Pvt. Ltd. (operating as Rugift). For inquiries about your Card
                balance, current terms and conditions, expiry date, or to file a
                complaint, you can contact Rugift customer service at +91
                2249647700 at no charge.
                <br /><br />
                <b class="d-block mb-2">Card restrictions:</b>
                <br /><br />
                a) The Card is not returnable.
                <br />
                b) The Card is not refundable.
                <br />
                c) You cannot reload the Card with more funds.
                <br />
                d) You cannot make cash withdrawals from the Card.
                <br />
                e) You may not use your Card to commit or facilitate illegal
                activity.
                <br />
                f) The Card may be deactivated at any time if fraud, related to
                the Card or use of the Card, is suspected.
                <br />
                g) Card will be valid for 1 year.
                <br /><br />

                <b class="d-block mb-2">5. ISSUANCE AND USAGE OF THE CARD</b>
                <br /><br />
                a) The Customer fully and irrevocably authorizes Rugift to
                deliver and hand over the cards to either the Customer or the
                entity designated to distribute them to their own customers.
                Rugift will not be held liable or responsible for any actions or
                omissions by the entity related to the delivery of the card to
                the Customer.<br />
                b) Rugift and Merchant Establishments reserve the right to
                refuse acceptance of the card at any time and for any reason,
                without prior notice to the Customer.<br />
                c) The Rugift is intended solely for legitimate personal or
                official use. It is understood that charges incurred at certain
                Merchant Establishments may include additional fees for services
                or other facilities offered by those establishments.<br />
                d) The Customer must sign and keep all charge slips generated
                for each transaction made at a Merchant Establishment. Rugift is
                not obligated to provide copies of charge slips or transaction
                slips to the Customer. Any request for such copies will be at
                Rugift's sole discretion and only if made by the Customer within
                forty-five (45) days of the transaction. The Customer agrees
                that Rugift may charge an additional fee for providing copies of
                the charge or transaction slips.<br />
                e) Any charges or costs imposed by the Merchant Establishment
                for a transaction must be settled directly by the Customer with
                the Merchant Establishment. Rugift will not be held liable or
                responsible, directly or indirectly, for any actions or
                omissions by the Merchant or for any charges or costs imposed by
                them related to the transaction.<br />
                f) All refunds or adjustments due to Merchant Establishments due
                to device errors or communication issues will be processed
                manually, and the Card Account will be credited after
                verification by Rugift in accordance with the applicable rules,
                regulations, and company policies. The Customer agrees that
                subsequent transactions will only be accepted or processed based
                on the available credit balance in the Card Account, without
                considering any disputed amounts under review by Rugift. The
                Customer agrees to fully indemnify Rugift for any loss or damage
                caused by dishonoring payment instructions due to insufficient
                funds in the Card Account. Rugift is entitled to deduct the
                amount of such loss or damage directly from the Card Account.<br />
                g) The Customer acknowledges that any refunds related to failed,
                returned, rejected, or canceled transactions made using other
                payment instruments cannot be credited to the Rugift.<br />
                h) The Cardholder agrees to always act in good faith in all
                dealings related to the Rugift. The Customer accepts full
                responsibility for any illegal or unauthorized use of the Rugift
                in violation of these Terms and Conditions and agrees to
                indemnify Rugift for any loss, damage, interest, conversion, or
                other financial charges Rugift may incur or suffer, whether
                directly or indirectly, as a result of the Customer violating
                these Terms and Conditions.<br />
                i) The Customer agrees not to use the Rugift to make payments
                for goods or services that are illegal under applicable laws.
                The Rugift cannot be used to purchase prohibited or illegal
                products or services.<br />
                j) The Customer acknowledges and agrees that Rugift will not
                load or reload the card with an amount exceeding the specified
                limit for the account type (Full KYC or Minimum KYC).<br />
                k) The Customer acknowledges and agrees that if there are no
                transactions on the Rugift for a consecutive period, and the
                card is still valid, Rugift will make the card inactive after
                notifying the Customer. The card can only be reactivated by
                Rugift after completing the necessary validations and due
                diligence, as determined by Rugift from time to time.<br />
                l) The Customer agrees to receive SMS or email alerts from
                Rugift for all transactions made using the Rugift. These alerts
                will provide information about debit and credit transactions,
                the available or remaining balance on the Rugift, or other
                details as specified by Rugift from time to time.<br />
                m) The Customer agrees and confirms that the Personal
                Identification Number (“PIN”) must never be disclosed to any
                family members, relatives, or third parties. The Customer will
                be solely responsible for any consequences resulting from the
                unauthorized disclosure or use of the PIN and/or the Rugift. The
                Customer disclaims any responsibility or liability for Rugift in
                connection with unauthorized use of the Rugift or any loss or
                damage, direct or indirect, incurred by Rugift due to such
                misuse. If the Customer forgets or misplaces the PIN, they
                should immediately apply in writing or contact the Customer Care
                Centre for a new PIN. The new PIN will be sent to the Customer's
                registered email address on file with Rugift.<br />
                n) The Customer agrees that Rugift may, at its sole discretion,
                engage external service providers or agents on terms deemed
                necessary or appropriate for the provision of its services.<br />
                o) The Customer will have access to the Frequently Asked
                Questions (“FAQ”) section, as updated by Rugift on its website
                from time to time. <br />
                <br /><br />

                <b class="d-block mb-2"> 6. BREACH</b>
                <br /><br />
                a) If the Customer breaches these Terms and Conditions, Rugift
                reserves the right to immediately cancel or terminate the card,
                program, or business relationship, without any further claim,
                demand, or dispute against Rugift.<br />
                b) The Customer agrees to indemnify Rugift for any loss, damage,
                claim, penalty, cost, charge, or expense (including legal fees)
                that Rugift may incur or suffer, directly or indirectly, as a
                result of the Customer's breach of these Terms and
                Conditions.<br />
                <br /><br />

                <b class="d-block mb-2">7. TERM & TERMINATION</b>
                <br /><br />
                a) The Rugift will remain valid for a period of three (3) years
                from the date of printing or until the expiration date printed
                on the card.<br />
                b) The Customer agrees to destroy the Rugift upon its expiration
                to prevent any third party from using it.<br />
                c) The Customer may request the termination of the Rugift at any
                time by providing Rugift with a written notice thirty (30) days
                in advance, except when the Customer requests the card to be
                hotlisted or blocked, in which case the card will be terminated
                and/or canceled immediately.<br />
                d) The Customer understands that the termination notice will not
                be effective until the Rugift has been defaced by cutting off
                the top right-hand corner, ensuring both the hologram and the
                magnetic strip are cut, and the card has been destroyed or
                returned to Rugift. The Customer agrees to remain liable for any
                charges incurred on the Rugift prior to its termination,
                regardless of whether the Customer has destroyed or claims to
                have destroyed the card.<br />
                e) Rugift may at its sole discretion terminate the Cards<br />
                (i) In the event the Customer is declared insolvent or death of
                the Customer<br />
                (ii) In the event of the Customer committing breach of any of
                the terms, conditions, stipulations, or its obligations under
                these “Terms and Conditions.”<br />
                (iii) In the event of any restriction imposed on the Customer by
                an Order of a competent Court or Order issued by any regulatory
                or statutory authority in India or any investigating agency.<br />
                (iv) In the event the Rugift Program becomes illegal under the
                applicable laws, rules, guidelines or circular.<br />
                (v) In the event the entire Rugift Program is terminated.<br />
                f) Rugift, at its sole discretion, reserves the right to
                withdraw the privileges associated with the Rugift and/or
                terminate the card, either temporarily or permanently, at any
                time, without prior notice or providing any reason. If the
                privileges are temporarily withdrawn, Rugift may reinstate them
                at its discretion. In the case of permanent withdrawal, Rugift
                has the right to permanently cancel the card. It is expressly
                stated that such withdrawal (whether temporary or permanent)
                will automatically result in the loss of all benefits,
                privileges, and services associated with the card. The Customer
                agrees that, even if the Rugift are temporarily or permanently
                withdrawn, they will remain fully liable for all charges
                incurred on the card before the withdrawal, along with any other
                applicable charges, unless specified otherwise by Rugift.<br />
                g) If Rugift temporarily or permanently withdraws the privileges
                or terminates the card, it will make best efforts to promptly
                notify the Customer. However, Rugift will not be held liable for
                any delays or failure in the receipt of such notification.<br />
                h) Upon termination of the Rugift, the remaining balance, if
                any, in the Card Account will be refunded to the Customer,
                subject to applicable charges, through a Pay Order or Demand
                Draft drawn in favor of the Customer. The Customer must submit a
                written request to Rugift for the refund of the balance
                amount.<br />
                <br />

                <b class="d-block mb-2"> 8. NOTICES</b>
                <br /><br />
                Any notice to be given by Rugift here under shall be deemed to
                have been received by the Customer, within seven (7) days from
                the date of the notice or email sent by Rugift at the registered
                email provided to or available with Rugift.
                <br /><br />
                Any notice to be given by the Customer hereunder shall be deemed
                to have been received by Rugift only upon acknowledgement of
                receipt of such notice by company at its Corporate Office
                Address.
                <br /><br />
                Any notice or communication from the Customer hereunder shall
                not be binding on Rugift unless the same is in writing and shall
                have been served and acknowledged by company or if by registered
                post, acknowledgement card.
                <br /><br />
                <b class="d-block mb-2"> 9. CHARGES</b>
                <br /><br />
                <b class="d-block mb-2"> Charges shall include:</b>
                <br /><br />
                a) Any fees charged by Rugift related to the Rugift, including
                replacement, renewal, handling, and other applicable fees, are
                non-refundable, non-transferable, and non-assignable.<br />
                b) Service charges may apply to certain types of transactions.
                The method for calculating these charges will be communicated by
                Rugift on its website, “rugift.in,” from time to time.<br />
                c) All charges, in the absence of a clear error, will be final,
                binding on the Customer, and considered conclusive.<br />
                d) The Customer is responsible for paying all statutory taxes,
                goods and services tax, and any other duties (including stamp
                duty, registration charges, or other taxes) that may be imposed
                by the government or any other authority in relation to the
                Rugift.<br />

                <b class="d-block mb-2">10. CASH WITHDRAWAL</b>
                <br /><br />
                The Customer can use the Rugift to access emergency cash
                withdrawal from ATM’s and ATM’s of any member bank. However, the
                total amount that which may be withdrawn at any point of time,
                shall not exceed the available balance in the Rugift or such
                limits as stipulated by the Reserve Bank of India from time to
                time.
                <br /><br />
                <b class="d-block mb-2">11. LOST, STOLEN OR MISUSED RUGIFTS:</b>
                <br /><br />
                a) If the card is lost or stolen, the Customer must immediately
                notify the Customer Care Centre and request the suspension of
                the card.<br />
                b) The Customer acknowledges that once the Rugift is reported as
                lost, stolen, or damaged, it cannot be used again, even if it is
                subsequently found.The Customer is responsible for the security
                of the card and must take all necessary precautions to prevent
                misuse. If Rugift determines or receives information that the
                Customer has failed to take the necessary actions in case of
                loss, theft, or damage, Rugift reserves the right to cancel or
                terminate the card.<br />
                c) The Customer will not be held liable for any unauthorized
                transactions on the card after it has been reported as lost,
                stolen, or damaged. Any liabilities incurred on the card after
                such a report will be borne by Rugift. However, in case of a
                dispute regarding the timing of the report or transactions made
                after the card was reported lost, stolen, or misused, the
                decision of Rugift will be final and binding on the Customer.<br />

                <b class="d-block mb-2">12. EXCLUSION OF LIABILITY</b>
                <br /><br />
                a) Without prejudice to the foregoing, Rugift shall be under no
                liability or responsibility to the Customer or any third party,
                in respect of any loss or damage arising, directly or indirectly
                out of:<br /><br />
                1. any defect in any goods or services supplied.<br />
                2. any disputes regarding the quality, value warranty, delay of
                delivery, non-delivery, non-receipt of any goods or services.<br />
                3. the refusal of any person to honour or accept the Rugift<br />
                4. Non-functioning of cards in the desired manner for whatsoever
                reason, or if the ATM is not functioning due whatsoever
                reasons.<br />
                5. the malfunction of any computer terminal<br />
                6. Any Force Majeure events<br />
                7. Transfer of the Rugift to any third party.<br />
                8. Termination of the Rugift by the Customer.<br />
                9. Any loss or damage caused to the Customer alleged to have
                been caused by the repossession of the cards.<br />
                10. Any discrepancy between the amount allocated to a Rugift
                upon receipt of instructions in this regard from the
                Customer.<br />
                11. Any reversals done on the Rugift on request of the
                Customer.<br /><br />

                <b class="d-block mb-2">13. DISPUTED TRANSACTIONS</b>
                <br /><br />
                a) Any charge, transaction slip, or other payment request
                received by Rugift for payment will serve as conclusive proof of
                the charge, unless the card has been lost, stolen, or
                fraudulently used, as evidenced by the Customer.<br />
                b) Any disputes regarding transactions related to the Rugift
                must be reported to the Customer Care Centre within fifteen (15)
                days from the date of the disputed transaction. The Customer
                acknowledges that Rugift will not accept any requests made after
                this 15-day period.<br />

                <b class="d-block mb-2"> 14. QUALITY OF GOODS AND SERVICES</b>
                <br /><br />
                Any dispute with or complaint against any Merchant Establishment
                regarding any goods purchased or services availed must be
                directly resolved by the Customer with the Merchant
                Establishment
                <br /><br />
                <b class="d-block mb-2">15. DISCLOSURES</b>
                <br /><br />
                a) The Customer acknowledges and consents to the sharing of
                information related to the Customer and the use of the Rugift
                with banks, financial institutions, or statutory and regulatory
                authorities.<br />
                b) The Customer agrees that Rugift may report any delinquencies
                or card usage to banks, financial institutions, or statutory and
                regulatory authorities. Rugift is not obligated to disclose to
                the Customer the identities of such entities or the extent of
                information shared.<br />
                The Customer authorizes Rugift and its representatives to
                exchange, share, or disclose all information related to the
                Customer's details and payment history with Rugift's group
                companies or affiliates.
                <br /><br />

                <b class="d-block mb-2">16. GOVERNING LAW & JURIDICTION</b>
                <br /><br />
                All disputes arising in relation to these Terms and Conditions
                shall be governed by and construed in accordance with the laws
                of India and shall be subject to the exclusive jurisdiction of
                the Courts of Mumbai.
                <br /><br />
                <b class="d-block mb-2"
                  >17. CHANGING THESE TERMS AND CONDITIONS</b
                >
                <br /><br />
                “Rugift” reserves the sole right to change, these Terms and
                conditions, features and benefits offered on the cards,
                including but not limited to interest charges or rates and
                methods of calculation. a) Rugift shall communicate the amended
                Terms and Conditions by hosting them on its website,
                www.Rugift.in, or in any other manner as decided by the
                company.<br /><br />
                b) The Customer shall be responsible for reviewing these Terms
                and Conditions, including amendments thereto as may be posted on
                the Rugift website: “www.rugift.in” and shall be deemed to have
                accepted the amended Terms and Conditions by continuing to use
                the Rugift.
                <br /><br />

                <b class="d-block mb-2">18. SCHEDULE OF CHARGES</b>

                <br /><br />
                Fees Amount<br />
                Card Issuance :Rs. 100 per Card<br />
                ATM cash withdrawal :INR 10<br />
                ATM Balance enquiry :INR 8<br />
                Annual fees :INR 200<br />
                Card Replacement : INR 100 per card<br /><br />

                Nothing contained herein shall, however, prevent Rugift from
                deducting tax deductible at source as required under the
                Applicable Laws, from any Transaction through the Rugift.
                <br /><br />
                Visit Fee Page : https://rugift.in/fee
                <br /><br />
                <b class="d-block mb-2"> 19. CUSTOMER GRIEVANCE & REDRESSAL</b>
                <br /><br />
                a) In the event of any dispute or grievance in relation to the
                Rugift and/or these Terms and Conditions, the Customer may
                contact the Rugift 24 hours Customer Care number at
                “+912249647700” or Email: info&#64;rugift.in.
                <br /><br />
                b) In the event the dispute or grievance in relation to the
                Rugift and/or these Terms and Conditions is not adequately
                address or resolved by the Rugift- Customer Care, the Customer
                may approach the company Nodal Officer details of which can be
                found on website. c) Rugift agrees that all complaints, disputes
                or grievances raised by the Customer shall be addressed and/or
                resolved in a time bound manner.<br /><br />
                d) The Customer may at any time approach the Banking Ombudsman
                for their grievance redressal.<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
