h2,
p,
span {
  color: var(--primary-color);
}

.order {
  color: var(--text-light);
  font-weight: 400;
}
.order-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 140px;
  min-height: 80vh;

  .order-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

main {
  // background-color: var(--text-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: minmax(530px, 3fr) minmax(430px, 1fr);
  letter-spacing: 0.025rem;
  line-height: 1.4;
}

.cart {
  padding-right: 1rem;
  > .cart-item,
  > .shipping,
  > .total {
    display: grid;
    grid-template-columns: minmax(80px, 2fr) 7fr 5ch 9ch;
    gap: 1rem;
    margin-bottom: 16px;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    .image {
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }
    .title {
      font-weight: 700;
      > span {
        display: block;
        font-weight: 300;
      }
    }
    .price {
      text-align: right;
    }
  }
  .total .title,
  .shipping .title {
    grid-column: 2;
  }
  .total {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    .price {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}

.empty-cart-message .icon {
  font-size: 48px;
  color: #4ca1af;
  margin-bottom: 20px;
  animation: gift_icon_shake 1s ease-in-out infinite;
  -webkit-animation: gift_icon_shake 1s ease-in-out infinite;
  text-align: center;
}

.empty-cart-message .message{
  font-weight: 600;
  font-size: 1.3rem;
}


@keyframes gift_icon_shake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(6deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}

.total {
  color: var(--primary-color);
}
.total-price {
  font-size: 1.15rem;
}

.product-thumbnail {
  width: 100px;
  height: 100px;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn {
  width: 100%;
  background-color: var(--primary-color);
  padding: 8px 12px;
  border-radius: 10px;
  display: inline-block;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.checkout {
  background: #f2f3f7;
  padding: 2rem;
  border-radius: 10px;
  //padding-right: 0rem;
  max-height: 300px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1200px) {
  .order-container {
    padding: 1rem;
  }
}
@media (max-width: 1100px) {
  .product-thumbnail {
    width: 80px;
    height: 80px;
  }
}

/* Small screens (e.g. phones) */
@media (max-width: 992px) {
  main {
    grid-template-columns: 1fr; /* Stack columns vertically */
  }
  .cart {
    padding: 10px;
  }
  .cart-item {
    padding: 0 1rem;
  }

  .btn {
    padding: 12px 24px;
    font-size: 14px;
  }
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .btn {
    padding: 14px 28px;
    font-size: 16px;
  }

  .order-container {
    margin-top: 100px;
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 10px 20px;
    font-size: 12px;
  }

  .cart .title {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .cart .cart-item {
    grid-template-columns: minmax(75px, 2fr) 7fr 3ch 9ch;
    gap: 0.5rem;
    padding: 0;
    padding-right: 5px;
  }
}
